.back-button {
    position: fixed;
    top: 12px;
    left: 12px;
    background-color:  #0b727d;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    z-index: 10;
    border :2px solid #ffde59
  }
  
  .back-button:hover {
    color: #000;
  }
  